.row {
    padding: 25px;
}

div {
        background: #052242;
    
}

h1, p{
    color: rgb(186, 208, 226);
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*estilo de la foto de perfil*/

@media(min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        left: 2%;
        top: 250px;
        box-shadow: 2px 2px 2px grey;
        
    }
}

@media(max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 630px;
    }
}


/*etiqueta nombre*/

#nombre {
    font-weight: bold;
    margin-top: 40%;
    margin-left: 10px;
}