<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/asd.jpg" class="img-fluid" id="fotodeperfil">
        </div>

        <div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <p id="nombre">Mario Salazar</p>
                <p>Full Stack Developer Jr Buenos Aires, Ezeiza
                </p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <span>
            <h1>Acerca de mi</h1>
    <p>Soy un Desarrollador Full Stack Jr buscando mi primera experiencia laboral IT , tengo
        conocimiento en aplicaciones web con Angular, MySQL, Html, Css, Java, JavaScript,
        Git, GitHub, Node.Js, metodo SCRUM para trabajar en grupo. Me considero una
        persona responsable, organizada, con persistencia y actitud para crecer día a día tanto
        profesional como personalmente. Me adapto fácilmente a nuevos proyectos, desafíos
        y/o tecnologías.
        
        </p>
        </span>
            </div>
        </div>
    </div>