<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Prosegur</h1> -
                <h3>(Diciembre 2016 - actualidad)</h3>
            </li>
            <p>Vigilador general</p>
        </ul>
        <ul>
            <li>
                <h1> Iron Segurity</h1> -
                <h3>(2016 - 2016)</h3>
            </li>
            <p>Vigilador general</p>
        </ul>

    </div>


</div>