<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Argentina Programa </h1> -
                <h3>(2021 - Agosto 2022)</h3>
            </li>
            <p>Desarrollador Web-Full stack Jr</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Educativo Argentino </h1> -
                <h3>(2010 - 2013)</h3>
            </li>
            <p> Tecnico superior en Regimen Aduanero y Comercio Exterior</p>
        </ul>

    </div>