.row {
    padding: 20px;
    width: auto;
    height: auto;
}

div {
    background: #052242;
}

h1{
    color: red;
}
h2
h3 {
    display:inline;
    color: aliceblue;
}

td{
    color: aliceblue;
}