<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Portafolio</h1>
                <div><span style="color: #161414;"><em><strong>Creacion de Portafolio para proyecto final (Argentina Programa)</strong></em></span></div>

            </div>
            <div>
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img src="../../../assets/Captura de pantalla (19).png" class="img-fluid img-proyecto">
                </div>

                <div><span style="color: #161414;"><em><strong>Replica T-Rex de chrome</strong></em></span></div>

            </div>
            <div> 
                
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <a href="https://github.com/Salazar-mario/Dino-Rex"><img src="../../../assets/rex-porta1.png" class="img-fluid img-proyecto"></a>
            
                </div>

            </div>
        
            <div><span style="color: #161414;"><em><strong>Calculadora simple</strong></em></span></div>

        </div>
        <div> 
            
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte3">
                <a href="https://github.com/Salazar-mario/Calculadora.Simple"><img src="../../../assets/Calculadora.png" class="img-fluid img-proyecto"></a>
        
            </div>

        </div>